.nav{
    font-size: 25px;
    padding: 40px;
    background-color: #002;
}

body{
    background-color: #003;
}

#foto{
    margin-top: -120px;
    margin-left: 50px;
    margin-right: 1700px;
    border-radius: 50%;
}
    .d-block{
        margin-left: 350px;
        margin-top: 80px;
        margin-right: 750px;
        border-bottom: 80px;
    }
    .titulo{
        font-size:large ;
        color: aliceblue;
        text-align: center;
        margin-top: 80px;
    }